*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgba(215,215,215,1);
        font-weight: normal;
	font-family: sans-serif;
}

.container {
	background: white;
	width: 90%;
	max-width: 550px;
	margin:auto;/*Para centrarlo*/
	padding: 5px 35px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius: 3px;
}

.container .form__top {
	color:white;
	padding: 14px 0;
	text-align: center;
	color:#3a5199;
        width: 100%;

}

.container .form__reg .input{
        border:none;
	outline: none;
	border-bottom: 2px solid #3a5199;
	width: 100%;
	padding: 12px 12px 12px 0;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: black;
}

.container .form__reg .btn__submit{
    width: 100%;
	outline: none;
	background:#3a5199; 
	font-size: 16px;
	border:none;
	color: white;
	padding: 15px 0;
	cursor: pointer;
	transition: all .5s ease;
}


.error{
	color:red;
        text-align: center;
        font-size: 16px;
	font-family: sans-serif;
        margin:auto;
        margin-top: 20px;
}

.exito{
	color:aqua;
        text-align: center;
        font-size: 16px;
	font-family: sans-serif;
        margin:auto;
        margin-top: 20px;
}