*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgba(215,215,215,1);
    font-weight: normal;
	font-family: sans-serif;
}

html {
    font-size: 16px;     
    font-family: 'Lato', sans-serif;
}
        
.menu{
    background:#3a5199;
    text-align: center;
    height: 50%;
    width: 50%;
    margin: auto;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: #4C9ED9;
}