*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
        background: rgba(215,215,215,1);
        font-weight: normal;
	font-family: sans-serif;
}

.content-table {
  border-collapse: collapse;
  margin: 5% auto;
  font-size: 0.9em;
  min-width: 600px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  color: white;
}

.content-table thead tr {
  text-align: left;
  font-weight: bold;
  background:#3a5199;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table td{
  color:white;
  background: rgba(0,0,0,.9);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #3a5199;
}